<project name="BuildConfig">
  <property environment="env"/>
  <!-- set project layout -->
  <property name="SRC_DIR" location="src"/>
  <property name="JAVA_DIR" location="${SRC_DIR}"/>
  <property name="TEST_DIR" location="${SRC_DIR}"/>
  <property name="BIN_DIR" location="bin"/>
  <property name="CLASS_DIR" location="${BIN_DIR}"/>
  <property name="JAR_DIR" location="${BIN_DIR}/"/>
  <!-- Define Maven coordinates -->
  <property name="ARTIFACT_ID" value="basic"/>
  <property name="VERSION" value="0.1.0"/>
  <!-- Define target jar files -->
  <property name="CLASS_JAR" value="${BIN_DIR}/${ARTIFACT_ID}-${VERSION}.jar"/>
  <!-- Misc properties -->
  <property name="JAVA_VERSION" value="1.8"/>
  <property name="WHILEYHOME" value="${env.WHILEYHOME}"/>
</project>
